.loading-container {
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    margin: auto;
    width: 4rem;
    height: 1rem;
    line-height: 1rem;
    font-size: .4rem;
    text-align: center;
}